body{
    margin: 0%;
    height: 100%;
}

#header-container{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    gap: 5px;
    margin: 10px;
    border-radius: 18px;
    box-shadow: 5px 5px 30px rgba(131, 130, 130, 0.048), -5px -5px 40px rgba(5, 5, 5, 0.096);
    margin-top: 89%;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    height: 35px;
    bottom: env(safe-area-inset-bottom, 0);
}

button{
    color: white;
    list-style-type: none;
    font-family: 'Work Sans';
    margin-right: 5px;
    border: 1px solid;
    padding: 7px;
    width: 20vh;
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0);
}

button:hover{
    animation: btn-animation 1s forwards;
    cursor: pointer;
    color: black;
}

@keyframes btn-animation{
    0% {
        background-color: none;
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}
